<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.RoleMapper">

    <select id="selectRolesByUserId" resultType="com.song.pojo.Role">
        select r.id,r.name, r.remark
        from role r
        left join
            user_role ur
        on r.id = ur.role_id
        where ur.user_id = #{userId}
    </select>
</mapper>
